<header id="header">
  <% unless drop.subscribed? %>
    <h1><a href="http://store.getcloudapp.com/">Simple sharing</a></h1>
  <% end %>

  <!-- DROdio OLD: <h2><%= escape_html drop.name %></h2> -->
</header>
<div align="center">
<br><br><br>
<section id="content">
  <img alt="<%= escape_html drop.name %>" src="<%= drop.content_url %>">
</section>
<br><br><br>
<!-- DROdio OLD: <a class="embed" href="<%= drop.content_url %>">Direct Link</a> -->
<a class="embed" href="<%= drop.content_url %>">Direct Link</a>
</div>	
