<style>
<!--
a:link { color: #cccccc; text-decoration: none; font-family: Georgia, sans-serif; font-size: 14px }
a:visited, a:active { color: #cccccc; text-decoration: none; font-family: Georgia, sans-serif; font-size: 14px }
p.drodio {color: #2a2a2a; font-family:Georgia, sans-serif; font-size: 14px }
a:hover { color: #000; text-decoration: underline; font-family: Georgia, sans-serif; font-size: 14px; background-color: #CCC }

-->
</style>

<!--<header id="header">
  <% unless drop.subscribed? %>
    <h1><a href="http://store.getcloudapp.com/?utm_source=viso&utm_medium=ribbon&utm_campaign=viso-1.0">Simple sharing</a></h1>
  <% end %>
</header> -->
<section id="content">
  <img alt="<%= escape_html drop.name %>" src="<%= drop.content_url %>">
</section>
<br><br>
<!-- DROdio OLD: <a class="embed" href="<%= drop.content_url %>">Direct Link</a> -->
<div align="center">
<p class="drodio"><%= escape_html drop.name %></p><br>
<a href="http://go.DanielOdio.com/massive">About This Screenshot</a> &nbsp; | &nbsp; <a href="<%= drop.content_url %>">Grab a Direct Link</a> &nbsp; | &nbsp; <a href="http://www.twitter.com/drodio">@drodio</a>
<br><br><br>
</font>
</div>	
