<header id="header">
  <% unless drop.subscribed? %>
    <h1><a href="http://store.getcloudapp.com/">Simple sharing</a></h1>
  <% end %>

  <!-- DROdio OLD: <h2><%= escape_html drop.name %></h2> -->
</header>
<div align="center">
<font face="georgia">
<br><br><br>
<section id="content">
  <img border="3" bordercolor="#ffffff" alt="<%= escape_html drop.name %>" src="<%= drop.content_url %>">
</section>
<br><br>
<!-- DROdio OLD: <a class="embed" href="<%= drop.content_url %>">Direct Link</a> -->
<a href="http://go.DanielOdio.com/massive">About These Screenshots</a> | <a  href="<%= drop.content_url %>">Direct Image Link</a> | <a href="http://bio.DanielOdio.com">DROdio's Bio</a>
</font>
</div>	
